<ion-content padding>

  <form class="Formulario" [formGroup]="FormLogin" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label color="blanco" floating>Email</ion-label>
      <ion-input formControlName="Email" placeholder="Email" type="Email"></ion-input>
    </ion-item>

    <!-- <ion-item no-lines text-center *ngIf="!FormLogin.controls.Email.valid">
      <p>Por favor introduce un Email válida.</p>
    </ion-item> -->


    <ion-item>
      <ion-label color="blanco" floating>Contraseña</ion-label>
      <ion-input formControlName="Password" type="Password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <!-- <ion-item no-lines color="blanco" text-center *ngIf="!FormLogin.controls.Password.valid">
      <p>Por favor introduce Password válido.</p>
    </ion-item> -->


    <button color="blanco" ion-button type="submit" block [disabled]="!FormLogin.valid">Ingresar</button>
  </form>


<p text-center (click)="registrar()"><b>Registrar</b></p>

</ion-content>
