page-registro {
    .narvar{
          background-color : #032946;
    }
    .contenedor {
   
    background-color : #032946;   
    color: #ffffff;  
    .Formulario {    

      ion-item {
        color: #ffffff;
        background-color: rgba(5, 5, 5, 0);
        ion-icon{
            color: #ffffff;
        }
        ion-label {
          color: #ffffff;
        }

       
      }
    }

  }
}
